name: My First Workflow

on: push

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Welcome message
        run: echo "My First Github Actions job"

      - name: List files
        run: ls -la

      - name: Second job
        run: cat README.md
