name: Generate ASCII Artwork

on: push

jobs:
  ascii-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install cowsay program
        run: sudo apt-get install -y cowsay

      - name: Execute cowsay command 
        run: cowsay -f dragon "Run for cover, I'm a DRAGON ....RAWRRR" >> dragon.txt

      - name: Test file existence and content
        run: grep -i "DRAGON" dragon.txt

      - name: Read file
        run: cat dragon.txt

      - name: List Repo files
        run: ls -ltra